
<section>
    <div>

        <h1>about</h1>

        <p>
            MINE Image Tagger Tool - A handy image tagging tool to test/train image models using human intervention
        </p>

				<p>
					Image Annotator Workflow
					<ol>
									<li> Open your assigned job using the Jobs tab </li>
									<li> Select one specific job </li>
									<li> For each image - select an area using mouse and then click on corresponding tag</li>
									<li> After finishing all the images, click on "Send for Review" tab </li>
					</ol>
    </div>
</section>
